<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075866233248-8dqcd4pa4p5va9blesr21b6f6qcf526g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075866233248-8dqcd4pa4p5va9blesr21b6f6qcf526g</string>
	<key>API_KEY</key>
	<string>AIzaSyBtQ1Ct9lbStrpYJiAmRmKb7PYc2zifVtY</string>
	<key>GCM_SENDER_ID</key>
	<string>1075866233248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.PushNotificationAndroidAndIos123</string>
	<key>PROJECT_ID</key>
	<string>push-notification-test-4de00</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-test-4de00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075866233248:ios:77f0866ad116243de85cc5</string>
	<key>DATABASE_URL</key>
	<string>https://push-notification-test-4de00.firebaseio.com</string>
</dict>
</plist>